:root {
	--secondary-color: black;
	--primary-color: white;
};

body {
	margin: 0;
	padding: 50px 0 0 0;
	width: 100%;
	font-weight: 500;
	/*font-family: "Avenir Next";*/
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
	background-color: var(--primary-color);
}
html {background-color: var(--primary-color)}

.custom-body {
	font-family: "Avenir Next", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.section1 {
	background-color: var(--primary-color);
	padding: 30px 0 30px 0;
}

.section1-container {
	width: 90%;
	margin: 30px auto 0 auto;
}

@media screen and (max-width: 400px) {
	.section1-container {
		width: 90%;
	}
}

.title {
	font-size: 56px;
	font-weight: 500;
	text-align: center;
	color: var(--secondary-color);
}

.bio {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	color: var(--secondary-color);
	margin-bottom: 30px;
	margin-top: 30px;
}

.join-button {
	font-size: 24px;
	font-weight: 400;
	text-align: center;
	margin-bottom: 30px;
	background-color: aliceblue;
	width: 250px;
	margin: 0 auto;
	border-radius: 14px;
	padding: 12px;
}

.join-button a {
	text-decoration: none;
	color: black;
}

.meetings {
	width: 100%;
	text-align: center;
	font-size: 24px;
	border-collapse: collapse;
}

.meetings tr {
	border-bottom: 1px solid lightgrey;
}

.meetings td {
	padding: 10px 0;
}

.meetings a {
	color: black;
}

.meetings-title {
	font-weight: 500;
	/*text-decoration: underline;*/
	font-size: 24px;
	text-align: center;
	color: var(--secondary-color);
	margin-bottom: 30px;
	margin-top: 30px;
}

.meetings-header {
	font-weight: 600;
}
